<header>
    <h1>Liên hệ với chúng tôi</h1>
</header>

<main>
    <section class="contact-form">
        <form id="contactForm ">
            <div class="form-group text-dark">
                <label for="name ">Họ và tên:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="form-group text-dark">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group text-dark">
                <label for="subject">Tiêu đề:</label>
                <input type="text" id="subject" name="subject" required>
            </div>

            <div class="form-group text-dark">
                <label for="message">Nội dung:</label>
                <textarea id="message" name="message" rows="5" required></textarea>
            </div>

            <button type="submit">Gửi liên hệ</button>
        </form>
    </section>
    <script src="script.js"></script>
</main>