<div *ngIf="animal" class="animal-detail-container">
    <h1 class="animal-title">{{ animal.name }}</h1>
    <div class="animal-content">
      <img width="500px" [src]="animal.img" alt="Hình ảnh động vật" class="animal-image">
      <div class="animal-info">
        <p><strong>Loài:</strong> {{ animal.type }}</p>
        <p><strong>Mô tả:</strong> {{ animal.description }}</p>
      </div>
    </div>
</div>

<div class="container py-4">
  <h2 class="text-white">Những loại vật liên quan</h2>
  <swiper-container navigation = "true" loop="true"  data-swiper-autoplay="2000" disableOnInteraction	="false"
  [breakpoints]="{
    '1024': { 'slidesPerView': 3 },
    '768': { 'slidesPerView': 2 },
    '0': { 'slidesPerView': 1 }
  }">

    <swiper-slide *ngFor="let dv of animalType" >
      <div  class="card" style="margin: 0 50px;">
        <div class="image-container">
          <img [src]="dv.img" alt="Hình ảnh động vật" class="animal-image">
          <i (click)="onDetail(dv)" class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"> <strong>Tên</strong>: {{dv.name}} </h5>
          <p><strong>Loài</strong>: {{dv.type}} </p>
          <p class="card-text">
            <strong>Mô tả</strong>:
            <span *ngIf="!showFullDescription[dv.id] && isDescriptionLong(dv.description)">
              {{ dv.description | slice: 0:200 }}... 
            </span>
            <span style="white-space: pre-line;" *ngIf="!isDescriptionLong(dv.description)">
              {{ dv.description }}
            </span>
          </p>
          <a class="btn btn-primary" [routerLink]="['/detail',dv.id]" >Xem chi tiết</a>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
  <div *ngIf="ViewDetail" class="Detail">
    <div class="detail-header">
      <button type="button" (click)="close()" class="btn-close btn-close-color:white" aria-label="Close"></button>
    </div>
    <div class="card card-detail">
      <img [src]="aniObj.img" height="100%" width="100%" class="card-img-top" alt="Animal Image">
      <div class="card-body-detail">
        <h5 class="card-title">Tên: {{aniObj.name}} </h5>
        <p class="card-text">
          Loài: {{aniObj.type}}
        </p>
        <p style="white-space: pre-line;" class="card-text">
          Mô tả: {{aniObj.description}}
        </p>
      </div>
    </div>
  </div>
</div>
  