.search form{
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}
.search{
   position: sticky;
   left: 25%;
   top: 0;
   z-index: 100;
}
.back-to-top {
  position: fixed;
  bottom: 20%;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.Detail {
   position: fixed;
   float: left;
   bottom: 10%;
   left: 50%;
   z-index: 9999;
   transform: translateX(-50%); 
   max-height: 80vh; /* Giới hạn chiều cao để kích hoạt cuộn */
   overflow-y: auto; /* Chỉ cuộn theo chiều dọc */
   overflow-x: auto; /* Ẩn cuộn ngang nếu có */
   background-color: white; /* Đặt màu nền để dễ nhìn */
   padding: 0px 20px; /* Thêm khoảng cách bên trong */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng để nổi bật */
   border-radius: 8px; /* Bo tròn các góc */
}
@media (max-width: 768px) {
   .Detail {
       width: 90vw; /* Chiếm gần hết chiều rộng màn hình */
       bottom: 5%; /* Đưa lên một chút để không bị che khuất */
       max-height: 70vh; /* Giới hạn chiều cao phù hợp */
   }
   .card-detail{
       width: 28rem;
   }
   .card-body-detail{
       width: 90vw;
   }
   .card-img-top{
       width: 100px;
       height: 100px;
   }
}
.card-img-top {
 object-fit: cover; /* Giữ tỷ lệ ảnh, tránh bị méo */
 width: 100%; /* Đảm bảo ảnh luôn đầy đủ */
 height: auto; /* Giữ chiều cao theo tỉ lệ gốc */
 image-rendering: crisp-edges; /* Làm sắc nét ảnh */
}

.card{
   width: 22rem; margin: 10px
}
.card-detail{
   width: 38rem;
   margin: 10px;
}
.card-body-detail{
   padding: 10px;
}
.detail-header {
   padding: 10px;
   position: sticky;
   top:0;
   background-color: rgb(255, 255, 255);
   z-index: 1;
}
.card .card-img-top{
   transition: transform 0.3s ease;
}
.card-img-top:hover{
   transform: scale(0.95);
}
.obj{
   display: flex;
   flex-wrap: wrap;
}
.pagination-container {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
.animal-card {
   position: relative;
   overflow: hidden;
   transition: transform 0.3s ease;
 }
 
 .image-container {
   position: relative;
   display: inline-block;
   width: 100%;
   overflow: hidden;
 }
 
 .animal-image {
   width: 100%;
   height: auto;
   transition: transform 0.3s ease-in-out;
 }
 
 .search-icon {
   position: absolute;
   top: 15%;
   left: 80%;
   transform: translate(-50%, -50%);
   font-size: 30px;
   color: white;
   background: rgba(0, 0, 0, 0.5);
   padding: 10px;
   border-radius: 50%;
   cursor: pointer;
   opacity: 0;
   transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
 }
 
 /* Hover vào ảnh thì ảnh thu nhỏ, kính lúp hiện lên */
 .image-container:hover .animal-image {
   transform: scale(0.9);
 }
 
 .image-container:hover .search-icon {
   opacity: 1;
   transform: translate(-50%, -50%) scale(1.2);
 }
 
 