<div class="wrap ">
    <div class="card p-4 shadow-lg">
      <h3 class="text-center mb-4">Đăng nhập</h3>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="email">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3 position-relative">
        <input 
          [type]="passwordFieldType" 
          class="form-control" 
          id="floatingPassword" 
          placeholder="Password" 
          [(ngModel)]="password">
        <label for="floatingPassword">Password</label>
        <button 
          type="button" 
          style="border: none; background-color: rgba(255, 255, 255, 0);" 
          class="position-absolute end-0 top-50 translate-middle-y" 
          (click)="togglePasswordVisibility()">
          <i [class]="passwordIconClass"></i>
        </button>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="rememberMe" [(ngModel)]="rememberMe">
        <label class="form-check-label" for="rememberMe">
          Remember Me
        </label>
      </div>
      <button class="btn btn-primary w-100 mb-3" (click)="Login()">Login</button>
      <div class="text-center">
        <p>Chưa có tài khoản? <a href="register">Nhấp vào đây để tạo tài khoản</a></p>
      </div>
    </div>
  </div>