<div class="container py-4">
    <form class="d-flex" role="search" >
        <input class="form-control me-4" type="search" placeholder="Tìm động vật" aria-label="Search" name="searchQuery" [(ngModel)]="searchQuery">
        <button class="btn  btn-primary" type="submit" style="min-width: 150px;" (click)="getAnimal()" ><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <div class="obj">
        <div *ngFor="let dv of animal" class="card" >
          <img [src]="dv.img" height="300px" class="card-img-top" alt="Animal Image">
          <div class="card-body">
            <h5 class="card-title">{{ dv.name }}</h5>
            <p class="card-text">
              <span *ngIf="!showFullDescription[dv.id] && isDescriptionLong(dv.description)">
                {{ dv.description | slice: 0:200 }}... 
              </span>
              <span style="white-space: pre-line;" *ngIf="!isDescriptionLong(dv.description)">
                {{ dv.description }}
              </span>
            </p>
            <button class="btn btn-primary" (click)="onDetail(dv)">Xem chi tiết</button>
          </div>
        </div>
      </div>
      <nav class="pagination-container" style="cursor: pointer;">
        <ul class="pagination">
            <li class="page-item" [class.disabled]="page == 1">
                <a class="page-link" (click)="onPageChange(page - 1)">Previous</a>
            </li>
            <li class="page-item" [class.active]="pageNumber == page" *ngFor="let pageNumber of getPageNumber()">
                <a class="page-link">{{pageNumber}}</a>
            </li>
            <li class="page-item" [class.disabled]="page == getValue()">
                <a class="page-link" (click)="onPageChange(page + 1)">Next</a>
            </li>
        </ul>
    </nav>
      <div *ngIf="ViewDetail" class="Detail">
        <div class="detail-header">
          <button type="button" (click)="close()" class="btn-close btn-close-color:white" aria-label="Close"></button>
      </div>
        <div class="card card-detail">
          <img [src]="aniObj.img" class="card-img-top" alt="Animal Image">
          <div class="card-body">
            <h5 class="card-title">Tên: {{aniObj.name}} </h5>
            <p  class="card-text">
              Loài: {{aniObj.type}}
            </p>
            <p style="white-space: pre-line;"  class="card-text">
              Mô tả: {{aniObj.description}}
            </p>
          </div>
        </div>
      </div>
    
</div>