<div class="wrap">
    <form class="d-flex" role="search" style="margin-bottom: 20px;">
        <input class="form-control me-4" type="search" placeholder="Tìm động vật" aria-label="Search" name="searchQuery" [(ngModel)]="searchQuery">
        <button class="btn  btn-primary" type="submit" style="min-width: 150px;" (click)="getAnimal()" >Tìm kiếm</button>
      </form>
    <div class="d-flex">
        @for (dv of animal; track $index) {
            <div class="card" style="width: 18rem;">
                <img [src]="dv.img" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> {{dv.name}} </h5>
                  <p class="card-text">Mô tả: <br> {{dv.description}} </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        }
    </div>
</div>