<div class="form-container">
    <h2>Tạo động vật</h2>
    <form #aniForm="ngForm" (ngSubmit)="postAni()" novalidate>
        <div class="form-group">
            <label for="name">Tên</label>
            <input 
                type="text" 
                id="name" 
                name="name" 
                required 
                [(ngModel)]="aniObj.name"
                #name="ngModel"
                class="form-control"
            />
            <div *ngIf="name.invalid && name.touched" class="error-message">
                Tên không được để trống!
            </div>
        </div>
    
        <div class="form-group">
            <label for="type">Loài</label>
            <input 
                type="text" 
                id="type" 
                name="type" 
                required 
                [(ngModel)]="aniObj.type"
                #type="ngModel"
                class="form-control"
            />
            <div *ngIf="type.invalid && type.touched" class="error-message">
                Loài không được để trống!
            </div>
        </div>
    
        <div class="form-group">
            <label for="img">Link ảnh</label>
            <input 
                type="text" 
                id="img" 
                name="img" 
                required 
                [(ngModel)]="aniObj.img"
                #img="ngModel"
                class="form-control"
            />
            <div *ngIf="img.invalid && img.touched" class="error-message">
                Link ảnh không được để trống!
            </div>
        </div>
    
        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea 
                id="description" 
                name="description" 
                rows="4" 
                required 
                [(ngModel)]="aniObj.description"
                #description="ngModel"
                class="form-control"
            ></textarea>
            <div *ngIf="description.invalid && description.touched" class="error-message">
                Mô tả không được để trống!
            </div>
        </div>
    
        <button 
            type="submit" 
            [disabled]="aniForm.invalid" 
            class="submit-btn">
            Submit
        </button>
    </form>
    
</div>